{
    "env": {
        "browser": true,
        "jquery": true,
        "node":true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        },
        "sourceType": "module"
    },
    "globals": {
        "ReactDOM": false,
        "React": false
    },
    "rules": {
         "no-console": "off",
         "no-unused-vars":"off",
         "no-undef":"off"
     
         

    }
}